<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/reset.css">
    <link rel="stylesheet" href="../Css/global.css">
    <link rel="stylesheet" href="../Css/layout1.css">
    <title>Layout 1</title>
</head>

<body>
    <div id="wrapper">
        <div id="header" class="text-center">
            <h3>unitop.vn</h3>
        </div>
        <div id="content">

        </div>
        <div id="footer" class="text-center">
            <h3>Học lập trình web đi làm</h3>
        </div>
    </div>
</body>

</html>